@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model basicRPG.Models.Player
<div class="container">
    @using (Html.BeginForm())
    {
        <input type="hidden" value="@ViewBag.UserId" name="userId" />
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)
        <input type="submit" value="Add new experience" />
    }
</div>